/*--------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	padding: 50px;
	align-items: center;
	text-align: center;
	justify-content: center;
	height: 100%;
	position: relative;
}

p {
	font-size: 20px;
	display: inline-block;
	align-items: center;
	font-weight: bold;
}

/*-----------------------------------------------------------------*/
.modal__btn {
	margin-bottom: 50px;
	display: inline-block;
}

.open__btn {
	width: 300px;
	max-width: 900px;
	padding: 20px;
	font-weight: bold;
	font-size: 20px;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	border-radius: 10px;
}

.open__btn:hover {
	background-color: rgb(221, 49, 184);
	color: white;
}

.open__btn:focus {
	background-color: rgb(134, 33, 112);
	color: white;
}

/*-----------------------------------------------------------------*/
.modal__overlay {
	/*скрыть подложку*/
	opacity: 0;
	visibility: hidden;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 20;
}

.modal {
	/* скрыть окна */
	opacity: 0;
	visibility: hidden;

	/* ширина окна */
	width: 100%;
	max-width: 500px;

	/*центрирование*/
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*выше ,чем у подложки*/
	z-index: 30;

	/*стили*/
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: 30px;
	border-radius: 10px;
	background-color: rgba(219, 0, 219, 0.925);
	color: white;

	transition: all 0.8s;
	overflow: auto;
}

/*стили для активных классов*/
.modal.active,
.modal__overlay.active {
	opacity: 1;
	visibility: visible;
}


.modal__close {
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 10px;
	top: 10px;
	right: 15px;
	cursor: pointer;
	background-color: transparent;
	border: none;

}

.modal__title {
	margin-bottom: 20px;
}


/*----------------------------ACCORDION-------------------------------*/
.accordion {
	display: block;
	text-align: center;
	align-items: center;
	justify-content: center;
	max-width: 500px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.accordion__block {
	display: block;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.accordion__btn {
	padding: 20px;
	width: 300px;
	max-width: 900px;
	font-size: 20px;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	margin-bottom: 20px;
	border-radius: 10px;
}

.accordion.active{
	opacity: 1;
	visibility: visible;
}

.accordion__btn:hover {
	background-color: rgb(221, 49, 184);
	color: white;
}

.accordion__btn:focus {
	background-color: rgb(221, 49, 184);
	color: white;
}


.accordion__title {
	margin-bottom: 10px;
}

.accordion__title.active {}

.accordion__title:hover {
	cursor: pointer;
}

.accordion__content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.6s ease-out;
}

.accordion__content.show {
	display: block;
	position: relative;
	max-width: 500px;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.accordion__text {
	font-size: 15px;
	margin-bottom: 30px;
}


/*--------------------------------VIDEO---------------------------------*/
.p__video {
	margin-bottom: 30px;
}

.page {
	margin: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.video {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	background-color: #000000;
}

.video__link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video__media {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}

.video__button {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	display: none;
	padding: 0;
	width: 68px;
	height: 48px;
	border: none;
	background-color: transparent;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.video__button-shape {
	fill: #212121;
	fill-opacity: 0.8;
}

.video__button-icon {
	fill: #ffffff;
}

.video__button:focus {
	outline: none;
}

.video:hover .video__button-shape,
.video__button:focus .video__button-shape {
	fill: #ff0000;
	fill-opacity: 1;
}

/* Enabled */

.video--enabled {
	cursor: pointer;
}

.video--enabled .video__button {
	display: block;
}